# Functions 

`` Does something for us, and may return us something too ``

In [1]:
print('Start of the program'.center(100,'*'))
print("Python")
print(" Hey how  ar you guys ")
n = input("Enter something")
print("python")
print(n)

****************************************Start of the program****************************************
Python
 Hey how  ar you guys
Enter somethingdfhfjh
python
dfhfjh

`` def function_name():
    statement_1
    statemtnt_2
``

In [2]:
def my_func():
    pass

In [3]:
my_func

In [4]:
id(my_func)

2453457498896

In [5]:
# Function calling
my_func()

In [6]:
def adder(a,b):
    print('Within a function')
    s = a + b 
    return s

In [7]:
adder

In [8]:
adder(1,2)

Within a function

3

In [11]:
def mult(a,b):
    print(a*b)

In [12]:
mult(1,2)

2

In [13]:
help(mult)

Help on function mult in module __main__:

mult(a, b)

In [14]:
msg="""First Line
      Second Line
      Third LIne
"""

In [15]:
msg

'First Line\n      Second Line\n      Third LIne\n'

In [16]:
type(msg)

str

In [17]:
def adder(a,b):
    """Adder takes into 2 ints a and b and returns the sum"""
    return a+b

In [18]:
adder,id(adder)

(<function __main__.adder(a, b)>, 2453457499472)

In [19]:
adder(2,2)

4

In [20]:
result = adder(2,20)

In [21]:
result

22

In [22]:
print(result)

22

In [23]:
help(adder)

Help on function adder in module __main__:

adder(a, b)
    Adder takes into 2 ints a and b and returns the sum

In [24]:
adder.__doc__

'Adder takes into 2 ints a and b and returns the sum'

In [25]:
adder.__doc__ = 'What to write'

In [26]:
help(adder)

Help on function adder in module __main__:

adder(a, b)
    What to write

In [27]:
# Namespaces

In [28]:
name='Pavan'
def my_print():
    print("Hey {}, I am within the function".format(name))

In [29]:
name

'Pavan'

In [30]:
my_print()

Hey Pavan, I am within the function

In [31]:
age = 20
def my_print():
    print("Hey {}, I am within the function".format(age))

In [32]:
age

20

In [33]:
my_print()

Hey 20, I am within the function

In [34]:
name='Pavan'
def my_print():
    name='Chaman'
    print("Hey {}, I am within the function".format(name))

In [35]:
name

'Pavan'

In [36]:
my_print()

Hey Chaman, I am within the function

In [37]:
n = 10
def my_func():
    global n
    print(' Before assgning, value of n = {}'.format(n))
    n = n + 90
    print(' After assgning, value of n = {}'.format(n))

In [38]:
n

10

In [39]:
my_func()

 Before assgning, value of n = 10
 After assgning, value of n = 100

In [40]:
n

100

In [41]:
print

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [43]:
def print(a,b,c):
    return a+b+c

In [44]:
print("rahul")

TypeError: print() missing 2 required positional arguments: 'b' and 'c'

In [45]:
print(1,2,3)

6

In [46]:
del print

In [47]:
print("Works")

Works

In [48]:
del print

NameError: name 'print' is not defined

In [50]:
# Argument Vs parameter 
def power(num,exponent):
    return num**exponent

In [51]:
power(2,5)

32

In [52]:
def my_func(a,b):
    print(type(a),a)
    print(type(b),b)

In [53]:
my_func(2,3)

<class 'int'> 2
<class 'int'> 3

In [54]:
my_func(2.3,3)

<class 'float'> 2.3
<class 'int'> 3

In [55]:
my_func("This","That")

<class 'str'> This
<class 'str'> That

In [56]:
# Positional argument

In [57]:
my_func(a=1,b=2)

<class 'int'> 1
<class 'int'> 2

In [58]:
my_func(a=1,b)

SyntaxError: positional argument follows keyword argument (<ipython-input-58-638b73a218c2>, line 1)

In [59]:
my_func(a,b=2)

NameError: name 'a' is not defined

In [60]:
# passing default values 
def my_func(name="Deepak",age=20):
    print(name,age)

In [61]:
my_func()

Deepak 20

In [62]:
my_func(name="Pavan",age=21)

Pavan 21

In [63]:
my_func(name="Pavan")

Pavan 20

In [64]:
my_func(age=30,name="xyz")

xyz 30

# Variable number of positional arguments 
`` Gets packed in a tuple ``

`` By convention *args is used ``

In [65]:
def multiple(*val):
    print(val)
    print(type(val))

In [66]:
multiple()

()
<class 'tuple'>

In [67]:
multiple(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [68]:
def an_example(name,*args,**kwargs):
    print(name)
    print('Positional arguments = {}'.format(args))
    print('Keyword only arguments = {}'.format(kwargs))

In [69]:
an_example

In [70]:
an_example()

TypeError: an_example() missing 1 required positional argument: 'name'

In [71]:
an_example("SomeName")

SomeName
Positional arguments = ()
Keyword only arguments = {}

In [72]:
an_example("SomeName",100,200,300)

SomeName
Positional arguments = (100, 200, 300)
Keyword only arguments = {}

In [73]:
an_example("SomeName",100,200,300,address="somewhere")

SomeName
Positional arguments = (100, 200, 300)
Keyword only arguments = {'address': 'somewhere'}

In [77]:
count = 0 
version = '1.0.0'

def outer_wrapper():
    print("Within outer")
    
    def inner_wrapper():
        print("Within inner")
        print("Count = {} and version = {}".format(count,version))
        print("Returning from function...1..2...3")
    inner_wrapper()

In [78]:
count,version

(0, '1.0.0')

In [79]:
outer_wrapper()

Within outer
Within inner
Count = 0 and version = 1.0.0
Returning from function...1..2...3

In [80]:
def outer():
    name = 'Rahul'
    def inner():
        print(name)
    inner()

In [81]:
outer()

Rahul

In [82]:
def outer():
    name = 'Rahul'
    def inner():
        global name
        name='Bond 007'
        print(name)
    inner()

In [83]:
outer()

Bond 007

In [84]:
name

'Bond 007'

In [85]:
name="Empire"
def outer():
    qwerty = 'Rahul'
    def inner():
        global qwerty
        qwerty='Bond 007'
        print(qwerty)
    inner()

In [87]:
outer()

Bond 007

In [88]:
name="Empire"
def outer():
    qwerty = 'Rahul'
    def inner():
        nonlocal qwerty
        qwerty='Bond 007'
        print(qwerty)
    inner()

In [89]:
outer()

Bond 007

In [92]:
qwerty="Empire"
def outer():
    qwerty = 'Rahul'
    def inner():
        nonlocal qwerty
        qwerty='Bond 007'
        print(qwerty)
    print("Inside outer ---{}".format(qwerty))
    inner()

In [93]:
qwerty

'Empire'

In [94]:
outer()

Inside outer ---Rahul
Bond 007

In [95]:
qwerty

'Empire'

In [109]:
qwerty="Empire"
def outer():
    qwerty = 'Rahul'
    print(qwerty)
    print("within outer value = {}".format(qwerty))
    def inner():
        global qwerty
        qwerty='Bond 007'
        print(qwerty)
    print("Inside outer ---{}".format(qwerty))
    inner()

In [110]:
qwerty

'Empire'

In [111]:
outer()

Rahul
within outer value = Rahul
Inside outer ---Rahul
Bond 007

In [112]:
qwerty

'Bond 007'